body {
  margin: 0;
  font-family: sans-serif;
  background-color: #2e2e2e;
}

/* base geral */
.app {
  max-width: 600px;
  margin: 30px auto 50px auto; /* menos margem em cima */
  padding: 20px;
  text-align: center;
  min-height: auto;
  border-radius: 16px;
  transition: background 0.5s, color 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


/* fundos baseados no tempo */
.app.clear {
  background: linear-gradient(to bottom, #87ceeb, #fff); /* céu limpo */
  color: #000;
}

.app.clouds {
  background: linear-gradient(to bottom, #999, #ccc); /* nublado */
  color: #000;
}

.app.rain,
.app.drizzle,
.app.thunderstorm {
  background: linear-gradient(to bottom, #3a3a8a, #555); /* chuva */
  color: #fff;
}

.app.snow {
  background: linear-gradient(to bottom, #ffffff, #a0e0ff); /* neve */
  color: #000;
}

.app.mist,
.app.fog {
  background: linear-gradient(to bottom, #777, #aaa); /* neblina */
  color: #000;
}

.app.default {
  background-color: #1a1a1a;
  color: white;
}

/* estilos do painel */
.weather-panel {
  background-color: #2E2E2E;
  color: #F5F5F5;
  border-radius: 16px;
  padding: 20px;
  margin-top: 30px;
}


.search input {
  padding: 10px;
  width: 70%;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
}

.search button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
